@page
@model WebTesting.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
    <div class="text-center">
        <h1 style="color:#009670" class="display-4">About Reddit Online Downloader</h1>
        <p>The idea for this website came to me when i decided i want to save a bunch of perticulary funny memes. To my suprise i found that is not too simple. I had to use "Reddit Manager" to export html of the posts and then use JDownloader 2 (requires download) to finally get my memes onto my harddrive. So i decided to make this process easier.</p>
        <p><b style="color:red;font-size:200%;">!</b>Website has access to your account for only 1 hour. If you idle on the page this time may run out and cause the app to not work properly. Logout and then login to solve the issue.<b style="color:red;font-size:200%;">!</b></p>
        <p>Something about safety: Application does not keep your reddit password. This site never even gets hands on your password since the logging in is done by reddit itself. Only sensitive data we have of our users are access tokens, which expire within an hour. And only thing potential attacker could do is to view your saved/upvoted posts and comments (voting history, hidden posts). We also keep ids of your previously downloaded posts. Those ids are used in order to show you which posts you've already downloaded. Once they are not needed they are deleted. And lastly we keep statistics about your usage. (Opt out system will be included later)</a>.</p>
        <h3 style="color:#009670">Author: Josef Knotek</h3>
        <p>This website is a part of my Bachelor thesis.<br>Contact: popo.knotek@seznam.cz</p>
        <p></p>
    </div>
