@page
@model WebTesting.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
    <div class="text-center">
        <h1 class="display-4">About XYZ</h1>
        <p>The idea for this website came to me when i decided i want to save a bunch of perticulary funny memes. To my suprise i found that is not too simple. I had to use "Reddit Manager" to export html of the posts and then use JDownloader 2 (requires download) to finally get my memes onto my harddrive. So i decided to make this process easier.</p>
        <p>Something about safety: Application does not keep your reddit password. This site never even gets hands on your password since the logging in is done by reddit itself. Only sensitive data we have of our users are access tokens, which expire within an hour. And only thing potential attacker could do is to view your saved/upvoted posts and comments (voting history, hidden posts). We also keep ids of your previously downloaded posts. Those ids are used in order to show you which posts you've already downloaded. Once they are not needed they are deleted.</a>.</p>
        <h3>Author: Josef Knotek</h3>
        <p>This website is a part of my Bachelor thesis.</p>
    </div>
