@page
@model WebTesting.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
    <div class="text-center">
        <h1 class="display-4">About XYZ</h1>
        <p>Application does not keep your password. Only sensitive data we use of our users are accessTokens, which could be used within a time limit to view your profile's saved posts and comments. We also keep ids of your prevoiusly downloaded posts. Those ids are not used for anything else and nobody views them, but they in the situaton of them being "hacked" hacker would be able to look at your downloaded posts.</a>.</p>
        <h3>Author: Josef Knotek</h3>
        <p>This website is a practical part of my bachelor's work.</p>
    </div>
