@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome to RedSaver</h1>
        <p>Applicaion for easy large scale downloading of saved posts from reddit. All from the comfort of your browser.</a>.</p>
    </div>

