@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (Model.UserName == null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to XYZ</h1>
        <p>Applicaion for easy large scale downloading of saved posts from <a href="https://www.reddit.com/">reddit</a>. All from the comfort of your browser.</p>
        <h3>To procede please <a href="https://www.reddit.com/api/v1/authorize?client_id=9RevD-RRlRmNcGc3nsu-pg&response_type=code&state=test1&redirect_uri=https://localhost:44335/LoggedIn&duration=permanent&scope=identity,read,history">Login with Reddit</a>.</h3>
        <p>(No registration needed. You just need to log on to your reddit account.)</p>
        <p>For more informations about the website visit <a asp-page="/About">About page</a></p>
        <p>For more informations about safety visit our <a asp-page="/Privacy">Privacy policy</a></p>
    </div>
}
else
{
    <div class="text-center">
        <h3>Hello <i>@Model.UserName</i></h3>
        <h1 class="display-4">Welcome to XYZ</h1>
        <p>Applicaion for easy large scale downloading of saved posts from <a href="https://www.reddit.com/">reddit</a>. All from the comfort of your browser.</p>
        <h3><b>Download posts</b> -> <a asp-page="/Download/Select">Download</a>.</h3>
        <h3><b>Show previously downloaded posts</b> -> <a asp-page="/Download/Progress">Progress</a>.</h3>
        <p class="pt-5">For more informations about the website visit <a asp-page="/About">About page</a></p>
        <p>For more informations about safety visit our <a asp-page="/Privacy">Privacy policy</a></p>
    </div>
}
    

