@page
@model WebTesting.Pages.LoginWithRedditModel

<a href="
https://www.reddit.com/api/v1/authorize?client_id=9RevD-RRlRmNcGc3nsu-pg&response_type=code&state=test1&redirect_uri=https://localhost:44335/LoggedIn&duration=permanent&scope=identity,read,history
" class="btn btn-primary">Login with Reddit</a>
