<!DOCTYPE html>
@using Microsoft.AspNetCore.Http.Extensions
@inject IHttpContextAccessor Accessor
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebTesting</title>
    <link rel="stylesheet" href="~/css/bootswatch_cyborg.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTesting.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">XYZ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (Accessor.HttpContext.Session.GetString("UserName") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Download/Select">Download</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Download/Progress">Progress</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/LastSavedPost">LastSavedPost</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link me auto" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-auto" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                     <ul class="navbar-nav ms-auto">
                        @if (Accessor.HttpContext.Session.GetString("UserName") != null)
                        { //TODO js zprava odhlasen
                                <p class="me-3">@Accessor.HttpContext.Session.GetString("UserName")</p>
                            <form method="post" asp-page="Logout">
                                <input type="submit" class="btn btn-primary" asp-page="/Index" value="Logout" />
                            </form>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.reddit.com/api/v1/authorize?client_id=9RevD-RRlRmNcGc3nsu-pg&response_type=code&state=test1&redirect_uri=https://localhost:44335/LoggedIn&duration=permanent&scope=identity,read,history">LoginWithReddit</a>
                            </li>  
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark">
        <div class="container">
            &copy; 2023 - RedSaver - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>       
    @{
        string s = "https://unpkg.com/@popperjs/core@2";
    }
    <script src=@s></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>