@page
@using WebTesting.Entities;
@model WebTesting.Pages.Download.StructureModel
@inject IHttpContextAccessor Accessor
@{
}


@if (Accessor.HttpContext.Session.GetString("UserName") == null)
{
            <div class="text-center">
                <p>You are not logged in.</p>
            </div>
}
else
{   
    <input type="hidden" id="hdnSession" asp-for="PostsJson"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Set up folder structure.</h2>
            </div>
            <div class="col-3 text-end">
                <a class="btn btn-primary" asp-page="/Download/Select" >Previous step</a> <!--TODO when returning it has to remember its setting-->
                <input class="btn btn-primary" form="structure" type="submit"></input>
            </div>
        </div>
        <div class="row" style="border:1px solid red">
            <div class="col-2" style="border:1px solid red">
                 <!--Here are setting for foldering-->
                <form id="structure" method="post" asp-page-handler="Download">
                    <h4>Name:</h4>
                    <label>Numbering:</label><br>
                    <input type="radio" id="ids" name="numbering" value="ids" checked>
                    <label for="ids">Ids</label><br>
                    <input type="radio" id="standard" name="numbering" value="standard">
                    <label for="standard">Standard</label><br>
                    <input type="radio" id="none" name="numbering" value="none">
                    <label for="none">None</label>
                    <h5>Name contents:</h5>
                    <div class="row">
                        <div class="col-5">
                            <br>
                            Subreddit:<br>
                            Domain:
                        </div>
                        <div class="col-3">
                            y/n<br>
                            <input name="subredditName" type="checkbox"><br>
                            <input name="domainName" type="checkbox">
                        
                        </div>
                        <div class="col-4">
                            Priority<br>
                            <input type="radio" id="subredditPriorityName" name="priorityName" value="subredditPriorityName" checked><br>
                            <input type="radio" id="domainPriorityName" name="priorityName" value="domainPriorityName">
                        </div>
                    </div>
                    <label class="pt-2" for="title">Title:</label>
                    <div class="row">
                        <input type="number" id="title" name="title" value="60">
                    </div>
                    <hr class="solid">
                    <h4>Folders:</h4>
                    <label>Group by:</label>
                    <div class="row">
                        <div class="col-5">
                            <br>
                            Subreddits:<br>
                            Domains:
                        </div>
                        <div class="col-3">
                            y/n<br>
                            <input name="subredditFolder" type="checkbox" checked><br>
                            <input name="domainFolder" type="checkbox">
                        </div>
                        <div class="col-4">
                            Priority<br>
                            <input type="radio" id="subredditPriorityFolder" name="priorityFolder" value="subredditPriorityFolder" checked><br>
                            <input type="radio" id="domainPriorityFolder" name="priorityFolder" value="domainPriorityFolder">
                        </div>
                    </div>
                    <label class="pt-2" for="empty">Remove empty folders:</label>
                    <input type="checkbox" id="empty" name="empty" checked><br>
                    <label class="pt-2" for="split">Split by nsfw/sfw:</label>
                    <input type="checkbox" id="split" name="split" checked> 
                </form>
            </div>
            <div class="col-8">
                <ul id="postList" class="p-2">
                @foreach (Post post in Model.Posts)
                {
                    string linkPost = "https://www.reddit.com" + post.PermaLink;
                    string linkSubreddit = "https://www.reddit.com/" + post.Subreddit;
                    string title = post.Title.Length > 57 ? post.Title.Substring(0, 57) + "..." : post.Title; //parameter max length
                            <div>
                                <a href="@linkSubreddit">@post.Subreddit</a> -
                        @post.Domain - @title - 
                                <a href="@linkPost">link</a>
                            </div>
                }
                </ul>
            </div>
            <div class="col-2" style="border:1px solid red">
                    <b>Details:</b>
                    <div id="count"></div>
                    <b>Domains:</b>
                    <div id="domains"></div>
                    <b>Nsfw/sfw:</b>
                    <div id="nsfwDetail"></div>
                    <div id="subreddits"></div>
                    <div id="subredditsList"></div>
            </div>
        </div>
    </div>
    <script>
        /*
        alert('start');
        var pokus = new Array();
        pokus = ["Banana", "Orange", "Apple", "Mango"];
        pokus.push("jop");
        if(pokus.includes('8')){
            alert('ano');
        }else{
            alert("ne");
        }
        alert('Konec');
        */

        var domainsList = document.getElementById("domains");
        var subredditsList = document.getElementById("subredditsList");
        var subredditsCount = document.getElementById("subreddits");
        var nsfwList = document.getElementById("nsfwDetail");
        var countText = document.getElementById("count");
        var count = 0;
        const sessionInput = document.getElementById("hdnSession");
        var postList = document.getElementById("postList");
        var offset = 0;
        var masterIndex = 0;
        var namesTaken = new Array();

        //Fetch List<Post> from server
        var value = sessionInput.value;
        var posts = JSON.parse(value);
        countText.innerHTML = '<b>Count: </b>' + posts.length;

        //Generating list of posts
        //Getting all inputs
        const i_numbering = document.getElementsByName('numbering');
        const i_priorityName = document.getElementsByName('priorityName');
        const i_priorityFolder = document.getElementsByName('priorityFolder');
        const i_title = document.getElementsByName('title')[0];
        const i_subredditName = document.getElementsByName('subredditName')[0];
        const i_domainName = document.getElementsByName('domainName')[0];
        const i_subredditFolder = document.getElementsByName('subredditFolder')[0];
        const i_domainFolder = document.getElementsByName('domainFolder')[0];
        const i_empty = document.getElementById('empty');
        const i_split = document.getElementById('split');
        var v_numbering = "ids";//TODO values set directly
        var v_priorityName = "subredditPriorityName";
        var v_priorityFolder = "subredditPriorityFolder"; 
        var v_title = 60;
        var v_subredditName = false;
        var v_domainName = false;
        var v_subredditFolder = true;
        var v_domainFolder = false;
        var v_empty = true;
        var v_split = true;
        //adding on change functions that will trigger reddrawing of the list
        i_domainName.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_domainName = true;
            } else {
                v_domainName = false;
            }
            redraw();
        });
        i_subredditFolder.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_subredditFolder = true;
            } else {
                v_subredditFolder = false;
            }
             redraw();
        });
        i_domainFolder.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_domainFolder = true;
            } else {
                v_domainFolder = false;
            }
            redraw();
        });
        i_empty.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_empty = true;
            } else {
                v_empty = false;
            }
            redraw();
        });
        i_split.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_split = true;
            } else {
                v_split = false;
            }
            redraw();
        });
        i_subredditName.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_subredditName = true;
            } else {
                v_subredditName = false;
            }
            redraw();
        });
        i_title.addEventListener('change', function() {
            v_title = this.value;
            redraw();
        });
        i_numbering.forEach(button => {
            button.addEventListener('change', function() {
                v_numbering = this.value;
                redraw();
            });
        });
        i_priorityFolder.forEach(button => {
            button.addEventListener('change', function() {
                v_priorityFolder = this.value;
                redraw();
            });
        });
        i_priorityName.forEach(button => {
            button.addEventListener('change', function() {
                v_priorityName = this.value;
                redraw();
            });
        });

        //Calculating details on the richt side of screen
        var subredditsObj = {};
        var domainsObj = {};
        var nsfw = {};
        posts.forEach(function(post) {
            if(!domainsObj[post.Domain]){
                domainsObj[post.Domain] = 0;
            }
            domainsObj[post.Domain]++;
            if(!nsfw[post.Over18]){
                nsfw[post.Over18] = 0;
            }
            nsfw[post.Over18]++;
            if(!subredditsObj[post.Subreddit]){
                subredditsObj[post.Subreddit] = 0;
            }
            subredditsObj[post.Subreddit]++;
        });

        //Creating html content for the details
        domainsList.innerHTML = "";
        var domains = Object.entries(domainsObj);
        for(let i = 0; i < Object.values(domainsObj).length; i++){
            if(Object.values(domainsObj)[i] != 'null'){
                let li = document.createElement('div');
                        li.innerHTML = '&emsp;' +  Object.keys(domainsObj)[i] + ' - ' + Object.values(domainsObj)[i] + '<br>';
                domainsList.appendChild(li);
            }
        }
        nsfwList.innerHTML = "";
        for(let i = 0; i < Object.values(nsfw).length; i++){
            let li = document.createElement('div');
            let key = Object.keys(nsfw)[i];
            if(key == 'true'){
                key = 'nsfw';
            }else{
                key = 'sfw';
            }
            li.innerHTML = '&emsp;' +  key + ' - ' + Object.values(nsfw)[i] + '<br>';
            nsfwList.appendChild(li);
        }
        subredditsList.innerHTML = "";
        var subreddits = Object.entries(subredditsObj);
        subreddits.sort((a,b) => b[1] - a[1]);
        for(let i = 0; i < subreddits.length; i++){
            let li = document.createElement('dv');
                li.innerHTML = '&emsp;' +  subreddits[i][0] + ' - ' + subreddits[i][1] + '<br>';
            subredditsList.appendChild(li);
        }
        subredditsCount.innerHTML = '<b>Subreddits:</b> ' + Object.values(subredditsObj).length;

        redraw();
        
        function redraw(){
            masterIndex = 0;

            postList.innerHTML = "";
            offset = 0;
            if(v_split == true){
                postList.appendChild(makediv1("sfw"));
                offset++;
                let remove = drawPart('sfw');
                offset--;
                if(v_empty && remove){
                    postList.removeChild(postList.lastElementChild);
                }
                postList.appendChild(makediv1("nsfw"));
                offset++;
                remove = drawPart('nsfw');
                offset--;
                if(v_empty && remove){
                    postList.removeChild(postList.lastElementChild);
                }
            }else{
                drawPart('none');
            }
        }

        function drawPart(typeSfw){
            if(v_subredditFolder == true || v_domainFolder == true){
                if(v_subredditFolder == true){
                    if(v_domainFolder == true){
                        //Both folders
                        if(v_priorityFolder == "subredditPriorityFolder"){
                            //priority subreddits
                            let outerRemoval = 0;
                            for (let i = 0; i < subreddits.length; i++) {
                                postList.appendChild(makediv2(subreddits[i][0]));
                                offset++;
                                let innerRemoval = 0;
                                for (let j = 0; j < domains.length; j++) {
                                    postList.appendChild(makediv3(domains[j][0]));
                                    offset++;
                                    let remove = drawPosts(typeSfw,subreddits[i][0],domains[j][0]);
                                    offset--;
                                    if(v_empty && remove){
                                        postList.removeChild(postList.lastElementChild);
                                        innerRemoval++;
                                    }
                                }
                                offset--;
                                if(innerRemoval == domains.length){
                                    postList.removeChild(postList.lastElementChild);
                                    outerRemoval++;
                                }
                            }
                            if(outerRemoval == subreddits.length){
                                postList.removeChild(postList.lastElementChild);
                            }
                        }else{
                            //priority domains
                            let outerRemoval = 0;
                            for (let i = 0; i < domains.length; i++) {
                                postList.appendChild(makediv2(domains[i][0]));
                                offset++;
                                let innerRemoval = 0;
                                for (let j = 0; j < subreddits.length; j++) {
                                    postList.appendChild(makediv3(subreddits[j][0]));
                                    offset++;
                                    let remove = drawPosts(typeSfw,subreddits[j][0],domains[i][0]);
                                    offset--;
                                    //alert('odstranit - ' + remove);
                                    if(v_empty && remove){
                                        postList.removeChild(postList.lastElementChild);
                                        innerRemoval++;
                                    }
                                }
                                offset--;
                                if(innerRemoval == subreddits.length){
                                    postList.removeChild(postList.lastElementChild);
                                    outerRemoval++;
                                }
                            }
                            if(outerRemoval == domains.length){
                                postList.removeChild(postList.lastElementChild);
                            }
                        }
                    }else{
                        //subreddit folders
                        let removal = 0;
                        for (let i = 0; i < subreddits.length; i++) {
                            postList.appendChild(makediv2(subreddits[i][0]));
                            offset++;
                            let remove = drawPosts(typeSfw,subreddits[i][0],'any');
                            offset--;
                            if(v_empty && remove){
                                postList.removeChild(postList.lastElementChild);
                                removal++;
                            }
                        }
                        if(removal == subreddits.length){
                            return true;
                        }
                    }
                }else{
                    //domain folders
                    let removal = 0;
                    for (let i = 0; i < domains.length; i++) {
                        postList.appendChild(makediv2(domains[i][0]));
                        offset++;
                        let remove = drawPosts(typeSfw,'any',domains[i][0]);
                        offset--;
                        if(v_empty && remove){
                            postList.removeChild(postList.lastElementChild);
                            removal++;
                        }
                    }
                    if(removal == domains.length){
                        return true;
                    }
                }
            }else{
                return drawPosts(typeSfw,'any','any');
            }

        }

        function drawPosts(typeSfw,subreddit,domain){
            namesTaken = ['','']
            let remove = true;
            let postWritten = 1;
            for (let i = 0; i < posts.length; i++) {
                if(typeSfw == 'sfw' && posts[i].Over18 == true){
                    //alert("is not sfw");
                    continue;
                }
                if(typeSfw == 'nsfw' && posts[i].Over18 == false){
                    //alert("is not nsfw");
                    continue;
                }
                if(subreddit != 'any' && subreddit != posts[i].Subreddit){
                    //alert("is not subreddit is not " + subreddit);
                    continue;
                }
                if(domain != 'any' && domain != posts[i].Domain){
                    //alert("is not domain is not *" + domain + '* becouse it is *' + posts[i].Domain + '*');
                    continue;
                }
                postList.appendChild(makedivPost(posts[i],postWritten++));
                remove = false;
                //alert('prvek nalezen');
            }
            return remove;
        }

        function makediv1(text){
            let element = document.createElement('div');
            text = '<b>&#x2023;&ensp;' + text + '</b>';
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }
        function makediv2(text){
            let element = document.createElement('div');
            text = '<b>&#x2022;&ensp;' + text + '</b>';
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }
        function makediv3(text){
            let element = document.createElement('div');
                text = '<b>&#x2043;&ensp;' + text + '</b>';
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }

        function makedivPost(post,index){
            let element = document.createElement('div');
            let text = createName(post,index);
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }

        function createName(post,index){
            let name = '';
            if(v_numbering == 'ids'){
                name = post.Id + "__";
            }else if(v_numbering == 'standard'){
                name = index + '__';
            }
            if(v_subredditName == true || v_domainName == true){
                if(v_subredditName == true){
                    if(v_domainName == true){
                        if(v_priorityName == 'subredditPriorityName'){
                            //subreddit priority
                            name = name + post.Subreddit + '__' + post.Domain + '__';
                        }else{
                            //doamin priority
                            name = name + post.Domain + '__' + post.Subreddit + '__';
                        }
                    }else{
                        //subreddit name
                        name = name + post.Subreddit + '__';
                    }
                }else{
                    //domain name
                    name = name + post.Domain + '__';
                }
            }
            if(v_title > 0){
                if(v_title <= post.Title.length){
                    name = name + post.Title.slice(0,v_title); 
                }else{
                    name = name + post.Title;
                }
            }
            if(name == ''){
                name = masterIndex++;
            }
            if(name[name.length-1] == '_'){
                name = name.slice(0,name.length-2);
            }

            //checking if filename already exists
            if(namesTaken.includes(name)){
                name = name + '_' + index++;
            }
            while(namesTaken.includes(name)){
                name = name.slice(0,name.length-2);
                name = name + '_' + index++;
            }
            namesTaken.push(name);
            return name;
        }
    </script>
}