@page
@using WebTesting.Entities;
@model WebTesting.Pages.Download.StructureModel
@inject IHttpContextAccessor Accessor
@{
}


@if (Accessor.HttpContext.Session.GetString("UserName") == null)
{
            <div class="text-center">
                <p>You are not logged in.</p>
            </div>
}
else
{   
    <input type="hidden" id="hdnSession" asp-for="PostsJson"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Set up folder structure.</h2>
            </div>
            <div class="col" style="border:1px solid red">
            <!--HERE ARE TEMPLATES-->
                Templates:
                <select form="structure" id="templatesSelect" name="templatesSelect">
                    <option value="none">None</option>
                </select>
                <button onclick="newTemplate()">New</button>
                <button onclick="deleteTemplate()">Delete</button>
                <i data-tippy-content="Templates can keep your used setting for later ease of use. They save while advancing to the next step or while creating the template.">&#x1F6C8</i>
            </div>
            <div class="col-3 text-end">
                <a class="btn btn-primary" asp-page="/Download/Select" >Previous step</a> <!--TODO when returning it has to remember its setting-->
                <input class="btn btn-primary" form="structure" type="submit"></input>
            </div>
        </div>
        <div class="row" style="border:1px solid red">
            <div class="col-2" style="border:1px solid red">
            <!--Here are setting for foldering-->
                <form id="structure" method="post" asp-page-handler="Download">
                    <h4>Name:</h4>
                    <label>Numbering:<i data-tippy-content="Selects or deselects all posts.">&#x1F6C8</i></label><br>
                    <input type="radio" id="ids" name="numbering" value="ids" checked>
                    <label for="ids">Ids</label><br>
                    <input type="radio" id="standard" name="numbering" value="standard">
                    <label for="standard">Standard</label><br>
                    <input type="radio" id="none" name="numbering" value="none">
                    <label for="none">None</label>
                    <h5>Name contents:<i data-tippy-content="Selects or deselects all posts.">&#x1F6C8</i></h5>
                    <div class="row">
                        <div class="col-5">
                            <br>
                            Subreddit:<br>
                            Domain:
                        </div>
                        <div class="col-3">
                            y/n<br>
                            <input name="subredditName" type="checkbox"><br>
                            <input name="domainName" type="checkbox">
                        
                        </div>
                        <div class="col-4">
                            Priority<br>
                            <input type="radio" id="subredditPriorityName" name="priorityName" value="subredditPriorityName" checked><br>
                            <input type="radio" id="domainPriorityName" name="priorityName" value="domainPriorityName">
                        </div>
                    </div>
                    <label class="pt-2" for="title">Title:</label>
                    <div class="row">
                        <input type="number" id="title" name="title" min="0" max="120" value="60">
                    </div>
                    <hr class="solid">
                    <h4>Folders:</h4>
                    <label>Group by:<i data-tippy-content="Selects or deselects all posts.">&#x1F6C8</i></label>
                    <div class="row">
                        <div class="col-5">
                            <br>
                            Subreddits:<br>
                            Domains:
                        </div>
                        <div class="col-3">
                            y/n<br>
                            <input name="subredditFolder" type="checkbox" checked><br>
                            <input name="domainFolder" type="checkbox">
                        </div>
                        <div class="col-4">
                            Priority<br>
                            <input type="radio" id="subredditPriorityFolder" name="priorityFolder" value="subredditPriorityFolder" checked><br>
                            <input type="radio" id="domainPriorityFolder" name="priorityFolder" value="domainPriorityFolder">
                        </div>
                    </div>
                    <div class="row">
                        <label class="pt-2" for="empty">Remove empty folders:<i data-tippy-content="Selects or deselects all posts.">&#x1F6C8</i></label>
                        <input type="checkbox" id="empty" name="empty" checked>
                        <label class="pt-2" for="split">Split by nsfw/sfw:<i data-tippy-content="Selects or deselects all posts.">&#x1F6C8</i></label>
                        <input type="checkbox" id="split" name="split" checked> 
                    </div>
                    
                </form>
            </div>
            <div class="col-8">
            <!--Here are Posts-->
                <ul id="postList" class="p-2">
                @foreach (Post post in Model.Posts)
                {
                    string linkPost = "https://www.reddit.com" + post.PermaLink;
                    string linkSubreddit = "https://www.reddit.com/" + post.Subreddit;
                    string title = post.Title.Length > 57 ? post.Title.Substring(0, 57) + "..." : post.Title; //parameter max length
                            <div>
                                <a href="@linkSubreddit">@post.Subreddit</a> -
                        @post.Domain - @title - 
                                <a href="@linkPost">link</a>
                            </div>
                }
                </ul>
            </div>
            <div class="col-2" style="border:1px solid red">
            <!--Here are Details-->
                    <b>Details:</b>
                    <div id="count"></div>
                    <b>Domains:</b>
                    <div id="domains"></div>
                    <b>Nsfw/sfw:</b>
                    <div id="nsfwDetail"></div>
                    <div id="subreddits"></div>
                    <div id="subredditsList"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <input type="hidden" id="templatesJson" asp-for="TemplatesJson"/>
    <input type="hidden" id="selectedTemplate" asp-for="SelectedTemplate"/>
    <script>
        //Declaring variables
        var domainsList = document.getElementById("domains");
        var subredditsList = document.getElementById("subredditsList");
        var subredditsCount = document.getElementById("subreddits");
        var nsfwList = document.getElementById("nsfwDetail");
        var countText = document.getElementById("count");
        var count = 0;
        const sessionInput = document.getElementById("hdnSession");
        var postList = document.getElementById("postList");
        var offset = 0;
        var masterIndex = 0;
        var namesTaken = new Array();

        //Fetch List<Post> from server
        var value = sessionInput.value;
        var posts = JSON.parse(value);
        countText.innerHTML = '<b>Count: </b>' + posts.length;

        //Getting all inputs
        const i_numbering = document.getElementsByName('numbering');
        const i_priorityName = document.getElementsByName('priorityName');
        const i_priorityFolder = document.getElementsByName('priorityFolder');
        const i_title = document.getElementsByName('title')[0];
        const i_subredditName = document.getElementsByName('subredditName')[0];
        const i_domainName = document.getElementsByName('domainName')[0];
        const i_subredditFolder = document.getElementsByName('subredditFolder')[0];
        const i_domainFolder = document.getElementsByName('domainFolder')[0];
        const i_empty = document.getElementById('empty');
        const i_split = document.getElementById('split');
        
        //Setting all inicial values;
        var v_numbering = i_numbering.value;
        var v_priorityName = i_priorityName.value;
        var v_priorityFolder = i_priorityFolder.value;
        var v_title = i_title.value;
        var v_subredditName = i_subredditName.checked;
        var v_domainName = i_domainName.checked;
        var v_subredditFolder = i_subredditFolder.checked;
        var v_domainFolder = i_domainFolder.checked;
        var v_empty = i_empty.checked;
        var v_split = i_split.checked;


        //Templates
        const i_selectedTemplate = document.getElementById("selectedTemplate");
        var v_selectedTemplate = i_selectedTemplate.value;
        const i_templatesSelect = document.getElementById("templatesSelect");

        var templatesJson = document.getElementById("templatesJson").value;
        var templates = JSON.parse(templatesJson);
        for(let i = 0; i < templates.length; i++){
            let option = document.createElement('option');
            option.value = JSON.stringify(templates[i]);
            if(templates[i].Id == v_selectedTemplate){
                option.selected = true;
            }
            option.innerHTML = templates[i].Name;
            i_templatesSelect.appendChild(option);
        }
        var v_templatesSelect = i_templatesSelect.value;
        if(v_templatesSelect != 'none'){
            let template = JSON.parse(v_templatesSelect);
            if(template.Numbering == 'ids'){
                document.getElementById("ids").checked = true;
            }else if(template.Numbering == 'standard'){
                document.getElementById("standard").checked = true;
            }else{
                document.getElementById("none").checked = true;
            }
            v_numbering = template.Numbering;
            i_numbering.selected = v_numbering;
            v_priorityName = template.PriorityName;
            i_priorityName.value = v_priorityName
            v_priorityFolder = template.PriorityFolder;
            i_priorityFolder.selected = v_priorityFolder;
            v_subredditName = template.SubredditName;
            i_subredditName.checked = v_subredditName;
            v_domainName = template.DomainName;
            i_domainName.checked = v_domainName;
            v_subredditFolder = template.SubredditFolder;
            i_subredditFolder.checked = v_subredditFolder;
            v_domainFolder = template.DomainFolder;
            i_domainFolder.checked = v_domainFolder;
            v_split = template.Split;
            i_split.checked = v_split;
            v_empty = template.Empty;
            i_empty.checked = v_empty;
            v_title = template.Title;
            i_title.value = v_title;
        }

        //adding on change functions that will trigger reddrawing of the list
        i_domainName.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_domainName = true;
            } else {
                v_domainName = false;
            }
            redraw();
        });
        i_subredditFolder.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_subredditFolder = true;
            } else {
                v_subredditFolder = false;
            }
             redraw();
        });
        i_domainFolder.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_domainFolder = true;
            } else {
                v_domainFolder = false;
            }
            redraw();
        });
        i_empty.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_empty = true;
            } else {
                v_empty = false;
            }
            redraw();
        });
        i_split.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_split = true;
            } else {
                v_split = false;
            }
            redraw();
        });
        i_subredditName.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                v_subredditName = true;
            } else {
                v_subredditName = false;
            }
            redraw();
        });
        i_title.addEventListener('change', function() {
            v_title = this.value;
            redraw();
        });
        i_numbering.forEach(button => {
            button.addEventListener('change', function() {
                v_numbering = this.value;
                redraw();
            });
        });
        i_priorityFolder.forEach(button => {
            button.addEventListener('change', function() {
                v_priorityFolder = this.value;
                redraw();
            });
        });
        i_priorityName.forEach(button => {
            button.addEventListener('change', function() {
                v_priorityName = this.value;
                redraw();
            });
        });
        i_templatesSelect.addEventListener('change', function() {
            v_templatesSelect = this.value;
            if(v_templatesSelect != 'none'){
                let template = JSON.parse(v_templatesSelect);
                if(template.Numbering == 'ids'){
                    document.getElementById("ids").checked = true;
                }else if(template.Numbering == 'standard'){
                    document.getElementById("standard").checked = true;
                }else{
                    document.getElementById("none").checked = true;
                }
                v_numbering = template.Numbering;
                i_numbering.selected = v_numbering;
                v_priorityName = template.PriorityName;
                i_priorityName.value = v_priorityName
                v_priorityFolder = template.PriorityFolder;
                i_priorityFolder.selected = v_priorityFolder;
                v_subredditName = template.SubredditName;
                i_subredditName.checked = v_subredditName;
                v_domainName = template.DomainName;
                i_domainName.checked = v_domainName;
                v_subredditFolder = template.SubredditFolder;
                i_subredditFolder.checked = v_subredditFolder;
                v_domainFolder = template.DomainFolder;
                i_domainFolder.checked = v_domainFolder;
                v_split = template.Split;
                i_split.checked = v_split;
                v_empty = template.Empty;
                i_empty.checked = v_empty;
                v_title = template.Title;
                i_title.value = v_title;
                redraw();
            }
        });

        //Calculating details on the right side of screen
        var subredditsObj = {};
        var domainsObj = {};
        var nsfw = {};
        posts.forEach(function(post) {
            if(!domainsObj[post.Domain]){
                domainsObj[post.Domain] = 0;
            }
            domainsObj[post.Domain]++;
            if(!nsfw[post.Over18]){
                nsfw[post.Over18] = 0;
            }
            nsfw[post.Over18]++;
            if(!subredditsObj[post.Subreddit]){
                subredditsObj[post.Subreddit] = 0;
            }
            subredditsObj[post.Subreddit]++;
        });

        //Ptevent from key "Enter" submiting form
        $(document).keypress(
            function(event){
            if (event.which == '13') {
                event.preventDefault();
            }
        });

        //Creating html content for the details
        domainsList.innerHTML = "";
        var domains = Object.entries(domainsObj);
        for(let i = 0; i < Object.values(domainsObj).length; i++){
            if(Object.values(domainsObj)[i] != 'null'){
                let li = document.createElement('div');
                        li.innerHTML = '&emsp;' +  Object.keys(domainsObj)[i] + ' - ' + Object.values(domainsObj)[i] + '<br>';
                domainsList.appendChild(li);
            }
        }
        nsfwList.innerHTML = "";
        for(let i = 0; i < Object.values(nsfw).length; i++){
            let li = document.createElement('div');
            let key = Object.keys(nsfw)[i];
            if(key == 'true'){
                key = 'nsfw';
            }else{
                key = 'sfw';
            }
            li.innerHTML = '&emsp;' +  key + ' - ' + Object.values(nsfw)[i] + '<br>';
            nsfwList.appendChild(li);
        }
        subredditsList.innerHTML = "";
        var subreddits = Object.entries(subredditsObj);
        subreddits.sort((a,b) => b[1] - a[1]);
        for(let i = 0; i < subreddits.length; i++){
            let li = document.createElement('dv');
                li.innerHTML = '&emsp;' +  subreddits[i][0] + ' - ' + subreddits[i][1] + '<br>';
            subredditsList.appendChild(li);
        }
        subredditsCount.innerHTML = '<b>Subreddits:</b> ' + Object.values(subredditsObj).length;

        redraw();
        
        //function that redraws the posts
        function redraw(){
            masterIndex = 0;
            postList.innerHTML = "";
            offset = 0;
            if(v_split == true){
                postList.appendChild(makediv1("sfw"));
                offset++;
                let remove = drawPart('sfw');
                offset--;
                if(v_empty && remove){
                    postList.removeChild(postList.lastElementChild);
                }
                postList.appendChild(makediv1("nsfw"));
                offset++;
                remove = drawPart('nsfw');
                offset--;
                if(v_empty && remove){
                    postList.removeChild(postList.lastElementChild);
                }
            }else{
                drawPart('none');
            }
        }

        //Draws one set o posts
        function drawPart(typeSfw){
            if(v_subredditFolder == true || v_domainFolder == true){
                if(v_subredditFolder == true){
                    if(v_domainFolder == true){
                        //Both folders
                        if(v_priorityFolder == "subredditPriorityFolder"){
                            //priority subreddits
                            let outerRemoval = 0;
                            for (let i = 0; i < subreddits.length; i++) {
                                postList.appendChild(makediv2(subreddits[i][0]));
                                offset++;
                                let innerRemoval = 0;
                                for (let j = 0; j < domains.length; j++) {
                                    postList.appendChild(makediv3(domains[j][0]));
                                    offset++;
                                    let remove = drawPosts(typeSfw,subreddits[i][0],domains[j][0]);
                                    offset--;
                                    if(v_empty && remove){
                                        postList.removeChild(postList.lastElementChild);
                                        innerRemoval++;
                                    }
                                }
                                offset--;
                                if(innerRemoval == domains.length){
                                    postList.removeChild(postList.lastElementChild);
                                    outerRemoval++;
                                }
                            }
                            if(outerRemoval == subreddits.length){
                                postList.removeChild(postList.lastElementChild);
                            }
                        }else{
                            //priority domains
                            let outerRemoval = 0;
                            for (let i = 0; i < domains.length; i++) {
                                postList.appendChild(makediv2(domains[i][0]));
                                offset++;
                                let innerRemoval = 0;
                                for (let j = 0; j < subreddits.length; j++) {
                                    postList.appendChild(makediv3(subreddits[j][0]));
                                    offset++;
                                    let remove = drawPosts(typeSfw,subreddits[j][0],domains[i][0]);
                                    offset--;
                                    //alert('odstranit - ' + remove);
                                    if(v_empty && remove){
                                        postList.removeChild(postList.lastElementChild);
                                        innerRemoval++;
                                    }
                                }
                                offset--;
                                if(innerRemoval == subreddits.length){
                                    postList.removeChild(postList.lastElementChild);
                                    outerRemoval++;
                                }
                            }
                            if(outerRemoval == domains.length){
                                postList.removeChild(postList.lastElementChild);
                            }
                        }
                    }else{
                        //subreddit folders
                        let removal = 0;
                        for (let i = 0; i < subreddits.length; i++) {
                            postList.appendChild(makediv2(subreddits[i][0]));
                            offset++;
                            let remove = drawPosts(typeSfw,subreddits[i][0],'any');
                            offset--;
                            if(v_empty && remove){
                                postList.removeChild(postList.lastElementChild);
                                removal++;
                            }
                        }
                        if(removal == subreddits.length){
                            return true;
                        }
                    }
                }else{
                    //domain folders
                    let removal = 0;
                    for (let i = 0; i < domains.length; i++) {
                        postList.appendChild(makediv2(domains[i][0]));
                        offset++;
                        let remove = drawPosts(typeSfw,'any',domains[i][0]);
                        offset--;
                        if(v_empty && remove){
                            postList.removeChild(postList.lastElementChild);
                            removal++;
                        }
                    }
                    if(removal == domains.length){
                        return true;
                    }
                }
            }else{
                return drawPosts(typeSfw,'any','any');
            }

        }

        //draws specific posts
        function drawPosts(typeSfw,subreddit,domain){
            namesTaken = ['','']
            let remove = true;
            let postWritten = 1;
            for (let i = 0; i < posts.length; i++) {
                if(typeSfw == 'sfw' && posts[i].Over18 == true){
                    continue;
                }
                if(typeSfw == 'nsfw' && posts[i].Over18 == false){
                    continue;
                }
                if(subreddit != 'any' && subreddit != posts[i].Subreddit){
                    continue;
                }
                if(domain != 'any' && domain != posts[i].Domain){
                    continue;
                }
                postList.appendChild(makedivPost(posts[i],postWritten++));
                remove = false;
            }
            return remove;
        }

        //Make html for sfw/nsfw
        function makediv1(text){
            let element = document.createElement('div');
            text = '<b>&#x2023;&ensp;' + text + '</b>';
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }
        //Make html for Subreddit/Domain
        function makediv2(text){
            let element = document.createElement('div');
            text = '<b>&#x2022;&ensp;' + text + '</b>';
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }
        //Make html for the one left out
        function makediv3(text){
            let element = document.createElement('div');
                text = '<b>&#x2043;&ensp;' + text + '</b>';
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }
        //Make html for a post
        function makedivPost(post,index){
            let element = document.createElement('div');
            let text = createName(post,index);
            for (let i = 0; i < offset; i++) {
                text = '&emsp;&emsp;' + text;
            }
            element.innerHTML = text;
            return element;
        }
        //Create a name for a post
        function createName(post,index){
            let name = '';
            if(v_numbering == 'ids'){
                name = post.Id + "__";
            }else if(v_numbering == 'standard'){
                name = index + '__';
            }
            if(v_subredditName == true || v_domainName == true){
                if(v_subredditName == true){
                    if(v_domainName == true){
                        if(v_priorityName == 'subredditPriorityName'){
                            //subreddit priority
                            name = name + post.Subreddit + '__' + post.Domain + '__';
                        }else{
                            //doamin priority
                            name = name + post.Domain + '__' + post.Subreddit + '__';
                        }
                    }else{
                        //subreddit name
                        name = name + post.Subreddit + '__';
                    }
                }else{
                    //domain name
                    name = name + post.Domain + '__';
                }
            }
            if(v_title > 0){
                if(v_title <= post.Title.length){
                    name = name + post.Title.slice(0,v_title); 
                }else{
                    name = name + post.Title;
                }
            }
            if(name == ''){
                name = masterIndex++;
            }
            if(name[name.length-1] == '_'){
                name = name.slice(0,name.length-2);
            }

            //checking if filename already exists, if it does then renaming it.
            if(namesTaken.includes(name)){
                name = name + '_' + index++;
            }
            while(namesTaken.includes(name)){
                name = name.slice(0,name.length-2);
                name = name + '_' + index++;
            }

            namesTaken.push(name);
            return name;
        }

        function newTemplate(){
            var tempName = prompt("Please enter unique name for your Template:", "");
            if (tempName != null && tempName != "") {
                $.ajax({
                    url: '/Download/Structure?handler=NewTemplate',
                    type: 'GET',
                    data: { name: tempName, numbering: v_numbering, subName: v_subredditName, domName: v_domainName, prioName: v_priorityName, title: v_title, subFol: v_subredditFolder, domFol: v_domainFolder, prioFol: v_priorityFolder, empty: v_empty, split: v_split },
                    dataType: 'json',
                    success: function (data) {
                        let template = JSON.parse(data);
                        let option = document.createElement('option');
                        option.value = JSON.stringify(template);
                        option.innerHTML = template.Name;
                        i_templatesSelect.appendChild(option);
                        i_templatesSelect.value = data;
                    },
                    error: function (xhr, status, error) {
                        alert('Error - Template could not be created. Ensure that your name is unique.'); // handle any errors here
                    }
                });
            }
        }

        function deleteTemplate(){
            let tempVal1 = i_templatesSelect.value;
            if(tempVal1 != "none"){
                let tempVal = i_templatesSelect.value;
                let template = JSON.parse(tempVal);
                if (confirm("Do you truly want to delete Template '" + template.Name + "':") == true) {
                    $.ajax({
                        url: '/Download/Structure?handler=DeleteTemplate',
                        type: 'GET',
                        data: { id: template.Id },
                        dataType: 'json',
                        success: function (data) {
                            var options = i_templatesSelect.getElementsByTagName('OPTION');
                            for(let i=0; i< options.length; i++) {
                                if(options[i].innerHTML == template.Name) {
                                    i_templatesSelect.removeChild(options[i]);
                                    break;
                                }
                            }
                            i_templates.value = "none";
                        },
                        error: function (xhr, status, error) {
                            alert('Error - Template could not be deleted.');
                        }
                    });
                }
            }
        }
    </script>
}